.note-c { background-color: #00db2d; }
.note-c-sharp { background-color: #00f7a3; }
.note-d { background-color: #005fec; }
.note-d-sharp { background-color: #210ce7; }
.note-e { background-color: #750abc; }
.note-f { background-color: #3a0448; }
.note-f-sharp { background-color: #5d0a3e; }
.note-g { background-color: #d80319; }
.note-g-sharp { background-color: #e6371b; }
.note-g-sharp { background-color: #e6371b; }
.note-a { background-color: #f77724; }
.note-a-sharp { background-color: #e9f236; }
.note-b { background-color: #80ea30; }
.note-rest { background-color: black; color:#7F7F7F !important; }

body {
    font-family: 'Tahoma',verdana,helvetica,arial,sans-serif;
    color:silver;
    background-color:#363636;
}

h1, h2, h3 { font-weight:normal; }
h1 { font-size: 24px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }

#container {
    position:relative;
    width:75%;
    margin:0 auto;
    margin-top:5%;
}

#music-container {
    width:100%;
    height:50%;
    background-color:#1A1A1A;
    overflow-y:scroll;
    padding:2px;
    border:1px solid black;
}


.item { 
    white-space: nowrap;
    border-radius: 4px;
    margin-bottom:2px;
    font-size:12px;
    padding:4px;
    color: #1F1F1F;
    width:1px;
    transition: width 0.1s linear;
}

.actionButton {
    margin-top:20px;
    padding:10px;
    font-size:18px;
}

#stop {
    display:none;
}